[InputPaths]
data_aux_path =
xml_source_path =
mec_sac_path =
performance_path =

[OutputPaths]
destination_path =
logs =
log_evidence_root =
debug_path =

[OutputFormats]
destination_file_format =
log_evidence_file_format =
debug_file_format =

[Processing]
workers = auto

[Debug]
debug = no
