[Paths]
xml_source_path = ./bar/
destination_path = ./output/
destination_file_format = csv
data_aux_path = ./data_aux/
logs = ./logs/
mec_sac_path = ./_data/mecSAC
performance_path = 

[Debug]
debug = no
debug_path = ./debug_output/
debug_file_format = csv
